body{
	width: 100%;
	height: 1000px;
	background-color: #588bd8;
	color: white;
}
@media only screen and (max-width: 720px) {
  body {
    background-color: lightblue;
  }
  iframe{
	width: 100%;
  }
}

ul{
	list-style-type: none;
}
#title{
	float: left;
}
li a{
	text-decoration: none;
}
a:hover{

}
#h1{
	text-align: center;
	margin-top: 60px;
	font-size: 25px;
}
#header-img{
	float: left;
	width: 30px;
  height: 20px;
  padding-left: 10px;
}

#header{
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 50px;
	background-color: white;
	top: 0;
	left: 0;
	border-bottom: 1px solid #eff3f9;
}
.nav-link{

}

form{
	text-align: center;
	padding-bottom: 50px;
}
#description{
	font-size: 19px;
}
#features{
	display: inline;
	text-align: left;
	width: 50%;
}
#container{
	width: 50%;
	margin: auto;
}
h2{
	padding-top: 25px;
}
#vid{
	padding-top: 50px;
	text-align: center;
}

#container2{
	display: flex;
	height: 700px;
	margin-top: 50px;
	text-align: center;
}
#box1{
	width: 40%;
    height: 50%;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
}
#box2{
	width: 40%;
    height: 50%;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
}
#box3{
	width: 40%;
    height: 50%;
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 50px;
}
h3{
	margin-top: 0px;
	padding: 10px 0px 5px 0px;
	background-color: brown;
	width: 100%;
	height: 30px;
}
p{
	margin: 5px 5px;
}
footer{
	display: inline-block;
	background-color: lightgray;
	height: 50px;
	width: 720px;
	background: rgba(204, 204, 204, 0.5);
}
#foot{
	text-align: center;
}
#footy{
	padding-left: 16px;
}
li:nth-last-child(-n+3){
	float: right;
	padding-right: 100px;
}
#video{
  width: 560px;
  height: 315px;
}