body{
	width: 100%;
	height: 1000px;
	background-color: #588bd8;
	color: white;
}
nav{
	display: block;
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	border-bottom: 1px solid #eff3f9;
}
ul{
	list-style-type: none;
}
li{
	float: left;
}
li a{
	text-decoration: none;
}
a:hover{

}
#header{
	text-align: center;
	margin-top: 60px;
	font-size: 25px;
}
img{
	float: left;
	width: 75px; 
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #eff3f9;
}
#nav-bar{

}
.nav-link{

}
#video{
	text-align: center;
}
form{
	text-align: center;
	padding-bottom: 50px;
}
p{
	font-size: 19px;
}
#features{
	display: inline;
	text-align: left;
	width: 50%;
}
#container{
	width: 50%;
	margin: auto;
}
h2{
	padding-top: 25px;
}
#video{
	padding-top: 50px;
}
